<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-4.0.xsd
						http://www.springframework.org/schema/util classpath:/org/springframework/beans/factory/xml/spring-util-4.0.xsd
						http://www.springframework.org/schema/tx classpath:/org/springframework/transaction/config/spring-tx-4.0.xsd
						http://www.springframework.org/schema/aop classpath:/org/springframework/aop/config/spring-aop-4.0.xsd
						http://www.springframework.org/schema/context classpath:/org/springframework/context/config/spring-context-4.0.xsd">

    <!-- 注解解析器 -->
    <context:annotation-config/>

    <!-- 扫描serviec层和dao层 -->
    <context:component-scan base-package="com.codyy.oc" use-default-filters="false">
        <context:include-filter type="regex" expression="com.codyy.oc.statistic.*.service.*"/>
    </context:component-scan>

    <bean class="com.codyy.oc.commons.rpc.spring.SpringContextHolder"/>
</beans>
