/Servers/
/.metadata/

/.settings
/*/.settings
/*/*/.settings

/.classpath
/*/.classpath
/*/*/.classpath

/.project
/*/.project
/*/*/.project

/log
/*/log

/logs
/*/logs

/*.log
/*/*.log

/*.iml
/*/*.iml
/*/*/*.iml
/*/*/*/*.iml

/.idea
/*/.idea
/*/*/.idea

/bin
/*/bin
/*/*/bin

/build
/*/build
/*/*/build

/out
/*/out
/*/*/out

/output
/*/output
/*/*/output

/publish
/*/publish
/*/*/publish
/*/*/*/publish

/target
/*/target
/*/*/target

/.dubbo
/*/.dubbo
/*/*/.dubbo

/*/WebContent/WEB-INF/classes
/*/WebContent/WEB-INF/pages/commons_jsp

/*/*/WebContent/WEB-INF/classes
/*/*/WebContent/WEB-INF/pages/commons_jsp

/*/webapp/WEB-INF/classes
/*/webapp/WEB-INF/pages/commons_jsp

/*/*/webapp/WEB-INF/classes
/*/*/webapp/WEB-INF/pages/commons_jsp

/*/*/*/webapp/WEB-INF/classes
/*/*/*/webapp/WEB-INF/pages/commons_jsp

/*/*/*/*/webapp/WEB-INF/classes
/*/*/*/*/webapp/WEB-INF/lib
/*/*/*/*/webapp/WEB-INF/pages/commons_jsp

/.apidocs
classes/
build.xml
/**/rebel.xml
/**/.rebel.xml.bak