
#root{
    background:url("../imgs/equipServerBg.jpg") no-repeat center top;  
    background-size: cover; 
}
 /* -----------------------------header------------------------- */
header{
    height:5.4vw;
    display: flex;
    justify-content: space-between;  
}
header .date{
    height:3.3vw;
    width:15vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

header .date .currentTime{
    font-size: 24px;
    font-weight: 600;
    margin:0 10px;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(250, 250, 250, 1)), to(rgba(5, 197, 215, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0 45px #104ec7;
}
header .date .currentDate{
    margin:5px 0;
}
header .date .currentDate,.currentWeek{
    font-size: 14px;
    font-weight: 600;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(250, 250, 250, 1)), to(rgba(5, 197, 215, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0 45px #104ec7;
}
header .site{
    height:3.3vw;
    display:flex;
    align-items: center;
    padding-right: 2vw;
    font-weight: 600;
   
}
header .site .city{
    margin:0 0.2vw; 
}
header .site .city,.iconfont{
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(250, 250, 250, 1)), to(rgba(5, 197, 215, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0 45px #104ec7;
}

.main{
    display:flex;
    justify-content: space-between;
    margin:0 1.3vw;
}

.main .left{
    width:26vw;
}
.main .middle{
    width:43vw;
    margin:0 0.7vw;

}
.main .right{
    width:26.4vw;
}
.main .module{
    height:2.8vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}
.main .module .title{
    margin-left:0.5vw;
    font-size: 18px;
    text-shadow:blue 2px 2px 0;  
}
.distributeByType{
    display: flex;
    flex-direction: column;
}
#distributeByTypeChart{
    flex-grow: 1;
}
 /* -----------------------------安装备类型分布------------------------- */
.main .left .distributeByType{
    height:18vw;
    position: relative;
}


/* -----------------------------近一年故障分析------------------------- */
.main .left .faultAnalysis{
    height:15vw;
}
#faultAnalysisChart{
    height:14vw;
    position: relative;
    top:-2vw;
}
/* -----------------------------各地点装备故障情况------------------------- */
.main .left .faultCondition{
    height:17vw;
}
.main .left .faultCondition table{
    width:90%;
    border-collapse: collapse;
    margin-left:1vw;
}
.main .left .faultCondition table tr{
    height:1.7vw;
}

.main .left .faultCondition table tr:nth-child(odd):not(:first-child){
    background: -webkit-linear-gradient(left,#1b2851, #040e45);
}
.main .left .faultCondition table tr:nth-child(odd):not(:first-child) td:first-child{
    border-radius: 10px 0 0 10px;
}
.main .left .faultCondition table th{
    color:#1bb9f9;
    font-weight: normal;
    font-size: 16px;
}
.main .left .faultCondition table th.company{
    width:50%;
}
.main .left .faultCondition table th,td{
    text-align: left;
    font-size: 14px;
    padding-left:5px;
}
.main .left .faultCondition table td:first-child{
    color:#1bb9f9;
    padding-left:0.4vw;
}


/* -----------------------------MAP以及统计------------------------- */
.main .middle .map{
    height:33vw;
    display: flex;
    flex-direction: column;
}
#mapChart{
    height:28vw;
}
.main .middle .map .statistics{
    height:4.0vw;
    border-top: 1px solid #0a4192;
    display: flex;
    align-items: center;
}
.main .middle .map .statistics>div{
    width:33%;
    text-align: center;
    height:3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .middle .map .statistics>div .count{
    font-size: 24px;
}
.main .middle .map .statistics>div .type{
    color:#13a0eb;
    font-size: 14px;
}
.main .middle .map .statistics>div:nth-of-type(2){
    border-left:1px solid #175497;
    border-right:1px solid #175497;
}
/* -----------------------------各行政区故障情况分析------------------------- */

#situationAnalysisChart{
    height:15vw;
    position: relative;
    top:-2vw;
}

.main .right .rate{
    height:14vw;
    display: flex;
    justify-content: space-between;
}
.main .right .rate>div{
    flex-grow: 1;
    text-align: center;
}
.main .right .rate>div>p{
    height:1.5vw;
    line-height: 1.5vw;
    margin-top:1vw;
}
/* -----------------------------故障状态分布------------------------- */
.main .right .distributeByStatus{
    height:19vw;
}
#distributeByStatusChart{
    height:15.5vw;
}
/* -----------------------------保修服务分布------------------------- */
.main .right .distributeByServer{
    height:17vw;
}
#distributeByServerChart{
    height:14vw;
}